body {
  width: 480px;
  margin:0px auto;
  font-size:24px;
  font-weight: bold;
  text-align: center;
  
}

header {
background-color:#E6B0AA;
height: 75px;

}

nav {
background-color: #C39BD3;
height: 150px;
}

#c {
  background-color: #5499C7;
  height:125px;
}

#d {
  background-color: #45B39D  ;
  height:125px;
}

#e {
  background-color: #F4D03F;
    width:240px;
    height:250px;
    float:left;
  }

#f {
background-color: #D35400;
  width:240px;
  height:250px;
  float:right;
 }

#g {
  background-color: #F39C12;
  width:240px;
  height:250px;
  float: left;
}

#h {
  background-color: #BDC3C7;
  width:240px;
  height:250px;
  float: left;
}

footer {
  background-color: #34495E  ;
  height:80px;
  clear: both;
}

@media only screen and (min-width: 769px){

body {
  width: 960px;
  margin: 0px auto;
  font-size:24px;
  font-weight: bold;
  text-align: center;
}

header {
  background-color: plum;
  height: 100px;
    }
  
  nav {
    background-color: rosybrown;
    width: 200px;
    height: 600px;
    float: left;
    border-color: 1px solid black;
  }
  
  #c {
    background-color: palevioletred;
    width: 380px;
    height:200px;
    float: left;
  }
  
  #d {
    background-color: teal;
    width: 380px;
    height: 200px;
    float: right;
  }
  
section.e-h {
  float:left;
}

  #e {
    background-color: rebeccapurple;
      width:190px;
      height:250px;
    }
  
  #f {
    background-color: lightblue;
    width:190px;
    height:250px;
   }
  
  #g {
    background-color: lightgreen;
    width:190px;
    height:250px;
  }
  
  #h {
    background-color: lightyellow;
    width:190px;
    height:250px;
  }
  
  footer {
    background-color: lightgrey;
    width: 760px;
    height: 150px;
    clear: none;
    float:right;
  }

}